* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

header {
    padding-left: 12rem;
    padding-right: 15.5rem;
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 120px;
    width: 1440px;
    margin: 0 auto;

}
header > img {
    width: 111.17px;
    height: 27.68px;
}
.dark {
    width: 167px;
    height: 56px;
    border: none;
    color: white;
    border-radius: 28px;
    background: #13183F;
    z-index: 9;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
}


main {
    margin: 0 auto;
    background-color: white;

}
.top {
    padding-left: 11.5rem;
    padding-right: 2rem;
    padding-top: 5em;
    display: flex;
    flex-direction: row;
    width: 1440px;
    margin: 0 auto;
    height: 650px;

}
.top-right {
    position:relative;
    display: block;
    clear:both;
    width: 991.63px;
    height: 936.62px;
    top: -320px;
    right: 0px;
    background-image: url("./assets/image-hero-desktop.png");
}
.top-left {
    height: 359px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}
h1 {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight:800;
    font-size: 56px;
    width: 457px;
}
h2 {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight:500;
    font-size: 18px;
    width: 445px;
    color: #83869A;
}
.title {
    width: 167px;
    height: 56px;
    border: none;
    color: white;
    border-radius: 28px;
    background: rgb(255,111,72);
    background: linear-gradient(180deg, rgba(255,111,72,1) 0%, rgba(240,42,166,1) 100%);
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
}

.container {
    display: grid;
    column-gap: 30px;
    row-gap: 56px;
    grid-template-columns:350px 350px 350px; /* 3 colonnes de largeur différente */
    grid-template-rows:346px 346px; /* 2 rangées */
    width: 1110px;
    height: 748px;
    margin: 0 auto;
}
.item {
    width: 350px;
    height: 346px;
}
.item-title {
    font-weight: 800;
    font-size: 24px;
}
.text {
    font-weight: 800;
    font-size: 18px;
    color:#F74780 ;
    border: none;
    background-color: white;
    cursor:pointer;
}
.rounded {
    height: 322px;
    border-radius: 15px;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 2em;

}
.item-icon {
    position: relative;
    display: block;
    top: 30px;
    left: 25px;
}
.item-text {
    font-weight: 500;
    font-size: 18px;
    color: #83869A;
}

.fader {
    padding: 2em;
    padding-left: 1em;
    color: white;
    height: 322px;
    border-radius: 15px;
    background: rgb(255,111,72);
    background: linear-gradient(180deg, rgba(255,111,72,1) 0%, rgba(240,42,166,1) 100%);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    font-weight: 800;
    font-size: 32px;
    transform: translateY(56px);

}
.bottom {
    height: 888px;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(240,241,255,1) 100%);
    width: 100%;
    margin: 0 auto;

}


footer {
    margin: 0 auto;
    height: 120px;
    background-color: #13183F;
}
.foot-width > img {
    width: 111.17px;
    height: 27.68px;
}
.foot-width {
    padding-top: 2.5rem;
    padding-left: 11rem;
    padding-right: 9.5rem;
    width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.shade {
    width: 167px;
    height: 56px;
    border: none;
    color: white;
    border-radius: 28px;
    background: rgb(72,81,255);
    background: linear-gradient(180deg, rgba(72,81,255,1) 0%, rgba(240,42,166,1) 100%);
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;

}

@media screen and (max-width: 1440px) {
    header {
        width: 768px;
    }
    header {
        padding-left: 3rem;
        padding-right: 3rem;
        padding-top: 2.5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 120px;
        width: 768px;
        margin: 0 auto;
    
    }
    .top {
        padding-top: 2em;
        padding-left: 1em;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        width: 768px;
        margin: 0 auto;
        height: 350px;
    
    }
    .top-left {
        height: 284px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        
    }
    .top-right {
        width: 640.71px;
        height: 640px;
        top: -320px;
        right: 150px;
    }

    h1 {
        font-family: 'Plus Jakarta Sans', sans-serif;
        font-weight:800;
        font-size: 40px;
        width: 457px;
    }
    h2 {
        font-family: 'Plus Jakarta Sans', sans-serif;
        font-weight:500;
        font-size: 16px;
        width: 445px;
        color: #83869A;
    }
    .bottom {
        height: 1020px;
        background: rgb(255,255,255);
        background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(240,241,255,1) 100%);
        width: 100%;
        margin: 0 auto;
    
    }
    .container {
        column-gap: 11px;
        row-gap: 32px;
        grid-template-columns:340px 340px; /* 3 colonnes de largeur différente */
        grid-template-rows:283px 283px 283px; /* 2 rangées */
        width: 689px;
        height: 913px;
        margin: 0 auto;
    }
    .item {
        width: 340px;
        height: 283px;
    }

    .rounded {
        height: 259px;
        border-radius: 15px;
        background-color: white;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        padding: 2em;
    
    }
    .fader {
        padding: 2em;
        padding-left: 1em;
        color: white;
        height: 259px;
        border-radius: 15px;
        background: rgb(255,111,72);
        background: linear-gradient(180deg, rgba(255,111,72,1) 0%, rgba(240,42,166,1) 100%);
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        font-weight: 800;
        font-size: 32px;
    
    }

    .foot-width > img {
        width: 111.17px;
        height: 27.68px;
    }
    .foot-width {
        padding-top: 2.5rem;
        padding-left: 11rem;
        padding-right: 9.5rem;
        width: 768px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}
@media screen and (max-width: 768px) {

}