* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}
header {
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 120px;
    width: 1440px;
    margin: 0 auto;

}
header > img {
    width: 111.17px;
    height: 27.68px;
}
.dark {
    width: 167px;
    height: 56px;
    border: none;
    color: white;
    border-radius: 28px;
    background: #13183F;
    z-index: 9;
    cursor: pointer;
}


main {
    width: 1440px;
    margin: 0 auto;
    background-color: white;

}
.top {
    display: flex;
    flex-direction: row;

}
.top-right {
    position:relative;
    display: block;
    clear:both;
    width: 991.63px;
    height: 936.62px;
    top: -400px;
    right: -100px;
    background-image: url("./assets/image-hero-desktop.png");
}
.top-left {
    height: 359px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}
h1 {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight:800;
    font-size: 56px;
    width: 457px;
}
h2 {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight:500;
    font-size: 18px;
    width: 445px;
    color: #83869A;
}
.title {
    width: 167px;
    height: 56px;
    border: none;
    color: white;
    border-radius: 28px;
    background: rgb(255,111,72);
    background: linear-gradient(180deg, rgba(255,111,72,1) 0%, rgba(240,42,166,1) 100%);
    cursor: pointer;
}

.container {
    display: grid;
    column-gap: 30px;
    row-gap: 56px;
    grid-template-columns:350px 350px 350px; /* 3 colonnes de largeur différente */
    grid-template-rows:346px 346px; /* 2 rangées */
    width: 1110px;
    height: 748px;
    margin: 0 auto;
}
.item {
    width: 350px;
    height: 346px;
    
}
.rounded {
    height: 322px;
    border-radius: 15px;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.title {
    font-weight: 800;
    font-size: 24px;
}

.fader {
    padding: 2em;
    padding-left: 1em;
    color: white;
    height: 322px;
    border-radius: 15px;
    background: rgb(255,111,72);
    background: linear-gradient(180deg, rgba(255,111,72,1) 0%, rgba(240,42,166,1) 100%);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    font-weight: 800;
    font-size: 32px;
}
.bottom {
    height: 888px;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(240,241,255,1) 100%);
}


footer {
    padding-top: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    width: 1440px;
    margin: 0 auto;
    height: 120px;
    background-color: #13183F;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
footer > img {
    width: 111.17px;
    height: 27.68px;
}
.shade {
    width: 167px;
    height: 56px;
    border: none;
    color: white;
    border-radius: 28px;
    background: #13183F;
    cursor: pointer;
}


